@{
    ViewData["Title"] = "Home Page";
}
@model Api_Cal_lApi.Models.ApiWeatherData;

<div class="text-center">
    <h1 class="display-4">@Model.current.temp*</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
