@{
    ViewData["Title"] = "Home Page";
}

<div class="row text-center">

    <!--Grid column-->
    <div class=" col-sm-12 col-md-6 col-lg-3 ">

        <h2 class="my-5 h2">Basic example</h2>

        <img class="rounded-circle z-depth-2 img-fluid" alt="100x100" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
             data-holder-rendered="true">

    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 ">

        <h2 class="my-5 h2">With shadow</h2>

        <img class="rounded-circle z-depth-2 img-fluid" alt="100x100" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
             data-holder-rendered="true">

    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 ">

        <h2 class="my-5 h2">With shadow</h2>

        <img class="rounded-circle z-depth-2 img-fluid" alt="100x100" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
             data-holder-rendered="true">

    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 ">

        <h2 class="my-5 h2">Basic example</h2>

        <img class="rounded-circle  img-fluid" alt="100x100" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
             data-holder-rendered="true">

    </div>
    <!--Grid column-->

</div>
