@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Api_Cal_lApi.Models.WeekForecastRoot;
@{
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>@Html.DisplayNameFor(model => model.list[0].dt_txt  ): @Html.DisplayFor(model => model.list[0].dt_txt)</h1>
        </div>
        <div class="col-12">

        </div>
    </div>
</div>


